@tailwind base;
@tailwind components;
@tailwind utilities;

/* .heading-one h1 {
  position: absolute;
  content: "";
  width: 0;
  right: 0;
  bottom: -3px;
  height: 1.5px;
  background-color: #fff;
  transition: width 0.2s linear;
}

.heading-one h1:hover {
  width: 100%;
  right: initial;
  left: 0;
} */

h1 {
  @apply text-[#212121] font-medium text-[1.5rem];
}

p {
  @apply mb-[1rem] text-[.85rem];
}

label {
  @apply w-[0.85rem] pt-2 font-light;
}

body {
  @apply bg-[#ffffff];
}

input {
  @apply outline-none w-full p-3 border border-[#21212180] my-1;
}

.center {
  @apply max-w-[1200px] mx-auto;
}

.btn {
  @apply bg-[#212121] hover:bg-black text-[#fff] text-[.75rem] text-center tracking-wider py-3 px-5 w-full;
}

.nav-text {
  @apply text-[#222];
}

nav svg {
  @apply text-[1.5rem] sm:text-[1.7rem];
}

.sidebar-links-container a {
  @apply border-b border-b-[#e4e4e4] p-1;
}

.sidebar-links-container a:nth-last-child(1) {
  @apply border-0;
}

.footer-links-container a {
  @apply w-fit;
}

.contact-links p {
  @apply mb-[1rem] text-[#212121] text-[.85rem];
}

.contact-links p a {
  @apply font-bold;
}
